div.content#cadastro
    section.content-header
        h1 Editar obra

    section.content
        div.row
            div.col-md-12
                form(ng-submit="atualizarObra(marcador.obra)").row 
                    div.form-group.col-md-12
                        label Titulo
                        input(ng-model="marcador.obra.titulo").form-control

                    div.form-group.col-md-6
                        label Descrição
                        textarea(ng-model="marcador.obra.descricao", rows="10").form-control

                    div.form-group.col-md-6
                        label Detalhes
                        textarea(ng-model="marcador.obra.detalhes", rows="10").form-control

                    div.form-group.col-md-6
                        label Meta fisica
                        input(ng-model="marcador.obra.metaFisica").form-control
                    
                    div.form-group.col-md-6
                        label Custo estimado
                        input(ng-model="marcador.obra.custoEstimado", ui-money-mask="2").form-control
                    
                    div.form-group.col-md-6
                        label Rua
                        input(ng-model="marcador.obra.rua").form-control

                    div.form-group.col-md-6
                        label Bairro
                        input(ng-model="marcador.obra.bairro.nome").form-control

                    div.col-md-6.form-group
                        label Tipo
                        select(ng-model="marcador.obra.tipo", ng-options="tipo.denominacao for tipo in tipos track by tipo.id").form-control

                    div.col-md-6.form-group
                        label Categoria
                        select(ng-model="marcador.obra.categoria", ng-options="categoria.denominacao for categoria in categorias track by categoria.id").form-control
                    
                    div.col-md-12.form-group
                        label Status
                        select(ng-model="marcador.obra.status", ng-options="status.denominacao for status in statusList track by status.id").form-control
                        
                    div.col-xs-6
                        button(type="submit").btn.btn-primary.btn-block Editar

                    div.col-xs-6
                        button(type="button").btn.btn-info.btn-block Resetar
