div.content
    section.content-header
        h1 Geo SGA #[small gerenciamento de obras, serviços e equipamentos públicos.]

    section.content
        div.row
            a(href="#/gerenciar")
                div.bloco.col-md-3
                    div.col-xs-4
                        i.fa.fa-list
                    div.col-xs-8
                        h4(style="padding-top:36px") Gerenciar Obras

            a(href="#/cadastrar")
                div.bloco.col-md-3
                    div.col-xs-4
                        i.fa.fa-plus
                    div.col-xs-8
                        h4(style="padding-top:36px") Cadastrar obras
