div(tabindex="-1", role="dialog").modal.fade#modal-editar
    div.modal-dialog
        div.modal-content
            div.modal-header
                button(type="button", data-dismiss="modal", aria-label="Close").close
                    span(aria-hidden="true") &times;
                h4.modal-title Editar obra

            div.modal-body
                form.row
                    div.form-group.col-md-12
                        label Titulo
                        input(ng-model="obraEdit.titulo").form-control

                    div.form-group.col-md-6
                        label Descrição
                        textarea(ng-model="obraEdit.descricao").form-control

                    div.form-group.col-md-6
                        label Detalhes
                        textarea(ng-model="obraEdit.detalhes").form-control

                    div.form-group.col-md-6
                        label Rua
                        input(ng-model="obraEdit.rua").form-control

                    div.form-group.col-md-6
                        label Bairro
                        input(ng-model="obraEdit.bairro.nome").form-control

                    div.col-md-6.form-group
                        label Tipo
                        select(ng-model="obraEdit.tipo.id", ng-change="listarCategoriasPorTipo(obraEdit.tipo.id)").form-control
                            option(ng-repeat="tipo in tipos", value="{{tipo.id}}", ng-selected="tipo.id == obraEdit.tipo.id") {{tipo.denominacao}}

                    div.col-md-6.form-group
                        label Categoria
                        select(ng-model="obraEdit.categoria.id").form-control
                            option(ng-repeat="categoria in categorias", value="{{categoria.id}}", ng-selected="categoria.id == obraEdit.categoria.id") {{categoria.denominacao}}
                    
                    div.col-md-12.form-group
                        label Status
                        select(ng-model="obraEdit.status.id").form-control
                            option(ng-repeat="status in statusList", value="{{status.id}}", ng-selected="status.id == obraEdit.status.id") {{status.denominacao}}



            div.modal-footer
                button(type="button", ng-click="editarObra(obraEdit)").btn.btn-primary Editar
