div(tabindex="-1", role="dialog").modal.fade#modal-obra
    div.modal-dialog
        div.modal-content
            div.modal-header
                button(type="button", data-dismiss="modal", aria-label="Close").close
                    span(aria-hidden="true") &times;
                h4.modal-title {{marcador.obra.titulo}}

            div.modal-body
                div.row
                    div.col-md-7
                        div.rua
                            h4 {{marcador.obra.rua}}
                        div.overlay-scroll
                            div.descricao {{marcador.obra.descricao}}

                            div.detalhes {{marcador.obra.detalhes}}

                        div.numericos
                            div.meta-fisica <strong> Meta fisica: </strong> {{marcador.obra.metaFisica}}

                            div.custo-estimado <strong> Custo estimado: </strong> {{marcador.obra.custoEstimado | currency:R$ :2}}
                    div.col-md-5
                        div.imagem
                            img(ng-src="{{marcador.obra.imagens[0].nome != null ? 'uploads/' + marcador.obra.imagens[0].nome : 'dist/img/indisponivel.png'}}")
            div.modal-footer
                div(ng-repeat="obra in relacionados", ng-click="exibirObra(obra.id)").col-xs-3.col-md-3
                    a(href="").thumbnail.relacionado
                        img(ng-src="{{obra.imagens[0].nome != null ? 'uploads/' + obra.imagens[0].nome : 'dist/img/indisponivel.png'}}")
                    span.thumbnail-titulo {{obra.titulo}}
